.container {
  /* text-align: center; */
  /* margin: auto; */
  margin: 40px;
  padding: 20px;
  /* width: 50%; */
  /* border: 2px solid black; */
}

.form-group {
  padding: 10px;
  margin: auto;
}

.form-inline {
  margin: auto;
  width: 60%;
  margin-left: 23%;
}

.field {
  display: block;
}

.checkbtn {
  /* text-align: center; */
  margin-left: 35%;
  margin-top: 10px;
  display: block;
}

.btn {
  width: 30%;
}

label {
    text-align: center;
}

.heading {
  text-align: center;
  margin: auto;
  margin-top: 5px;
  width: 50%;
  border: 2px solid rgb(12, 11, 11);
  border-radius: 10px;
  background-color: rgba(121, 115, 115, 0.144);
}

.alert {
  margin: auto;
  margin-top: 30px;
  width: 60%;
  text-align: center;
}
